{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Add New Trip</h2>
    <form method="POST">
        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Select Lorry</label>
            <select name="lorry_id" class="form-control" required>
                {% for lorry in lorries %}
                    <option value="{{ lorry.id }}">{{ lorry.number }} - {{lorry.driver}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Way Bill Number</label>
            <input type="text" name="way_bill_no" class="form-control" required>
        </div>

        <div class="form-group">
            <label>ACK Number</label>
            <input type="text" name="ack_no" class="form-control" required>
        </div>

        <div class="form-group">
    <label>Stock Type</label>
    <select name="stock_type" class="form-control" required>
        <option value="Paddy">Paddy</option>
        <option value="Husk">Husk</option>
        <option value="Rice">Rice</option>
    </select>
</div>


        <div class="form-group">
            <label>Quantity (in Quintals)</label>
            <input type="number" name="quantity" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Destination</label>
            <input type="text" name="destination" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">✅Add Trip</button>
        <a href="/view_trips" class="btn btn-secondary">Back</a>
    </form>
</div>
{% endblock %}
